<div class="hero1">
    <nav>
        <h2 class="logo">Gui<span>dance</span></h2>
        <ul>
            <li><a href="Index">Home</a></li>
            <li><a href="AboutUs"><span>About Us</span></a></li>
            <li><a href="Services">Services</a></li>
            <li><a href="ContactUs">Contact Us</a></li>
        </ul>
    
        <a href="Login" class="btn1">Login</a>
    </nav>
</div>

@* <div class="row ">
    <div class="col-sm-9">
        <img src="../Guidance.png" class="Guidance reveal">
    </div>
</div> *@


<hr>