
    <nav>
        <h2 class="logo">Gui<span>dance</span></h2>
        <ul>
            <li><a href="Index">Home</a></li>
            <li><a href="AboutUs">About Us</a></li>
            <li><a href="Services">Services</a></li>
            <li><a href="ContactUs"><span>Contact Us</span></a></li>
        </ul>
        <a href="Login" class="btn1">Login</a>
    </nav>

<div class="container1">
<div class="row row2">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
        <h5>Follow us on social media</h5>
        <ul>
            <li><i class="fa-brands fa-facebook"></i> Facebook</li>
            <li><i class="fa-brands fa-instagram"></i> Instagram</li>
            <li><i class="fa-brands fa-tiktok"></i> TikTok</li>
            <li><i class="fa-brands fa-twitter"></i> Twitter</li>
            <li><i class="fa-brands fa-discord"></i> Join Discord</li>

        </ul>
    </div>
    <div class="col-sm-4">
        <form action="">
            <div class="email-box">
                <i class="fa-solid fa-envelope"></i>
                <input class = "tbox"type="email" placeholder="Enter your email">
                <button class="btn" type="button" name="button"> Subscribe</button>
            </div>
        </form>

    </div>
    <div class="col-sm-2"></div>
</div>
</div>


<hr>