@{
    ViewData["Title"] = "Home Page";
}
<div class="hero">
    <nav>
        <h2 class="logo">Gui<span>dance</span></h2>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Skills</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
        <a href="#" class="btn">Login</a>
    </nav>
</div>


@* <img src="../Guidance.png" class="Guidance reveal"> *@
<div class="container">
    <div class="row bg-red reveal">
        <div class="col-sm-4">
            <h3>
                Our Mission:
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit fugiat, commodi reiciendis incidunt adipisci, nesciunt illum pariatur a voluptas repudiandae hic. Reprehenderit rem corporis dignissimos alias consequatur commodi, magni deserunt.</p>
        </div>
        <div class="col-sm-4">
            <h3>Guidance:</h3>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam nihil, ipsam nisi quaerat doloremque vel possimus aspernatur quos. Modi cum dolorem tempora nisi aliquid officia ad dicta, velit expedita cumque!
        </div>
        <div class="col-sm-4">
            <h3>Our Partners:</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error debitis iusto, incidunt, velit vel nulla recusandae voluptates optio doloribus vitae, corrupti fuga asperiores eum ullam hic. Veniam illum autem odio.</p>
        </div>
    </div>
</div>

<button class="button reveal"><h2>Get Started >>></h2></button>
<hr>



