<div class="hero2">
    <nav>
        <h2 class="logo">Gui<span>dance</span></h2>
        <ul>
            <li><a href="Index">Home</a></li>
            <li><a href="AboutUs">About Us</a></li>
            <li><a href="Services"><span>Services</span></a></li>
            <li><a href="ContactUs">Contact Us</a></li>
        </ul>
        <a href="Login" class="btn1">Login</a>
    </nav>
</div>
<div class="row bg-blue row1">
    <div class="col-sm-4 reveal mt-200">
        <h3>
            Courses
        </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit fugiat, commodi reiciendis incidunt
            adipisci, nesciunt illum pariatur a voluptas repudiandae hic. Reprehenderit rem corporis dignissimos alias
            consequatur commodi, magni deserunt.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore beatae fugit laborum similique debitis nulla tempore nobis delectus praesentium aspernatur. Placeat aperiam officia natus consequuntur eius, provident soluta? Itaque, maiores!</p>
    </div>
    <div class="col-sm-4 reveal mt-200">
        <h3>Teachers</h3>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam nihil, ipsam nisi quaerat doloremque vel
        possimus aspernatur quos. Modi cum dolorem tempora nisi aliquid officia ad dicta, velit expedita cumque!
    </div>
    <div class="col-sm-4 reveal mt-200">
        <h3>Other resources</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error debitis iusto, incidunt, velit vel nulla
            recusandae voluptates optio doloribus vitae, corrupti fuga asperiores eum ullam hic. Veniam illum autem
            odio.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore earum ipsum aliquid rerum enim sint dolores quibusdam vitae hic quo animi incidunt optio molestiae perspiciatis ullam, molestias exercitationem, explicabo eum.</p>
    </div>
</div>
<hr>